# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Spark / Delta
checkpoints/
data/

# Logs
*.log

# Mac
.DS_Store

# IDE
.idea/
.vscode/

# Spark temp
spark-warehouse/
metastore_db/
